{% extends "global/base.html" %} {% block main %} {% load static %}

<main>
  <section class="sobre">
    <div class="container">
      <div class="sobre-text">
        <h3>Estamos nesse mercado a mais de 8 anos</h3>
        <p>
          No mercado há mais de 8 anos, a Whitepace tem sido a escolha ideal
          para empresas e profissionais autônomos que desejam expandir sua
          presença online com sites modernos, responsivos e estrategicamente
          otimizados. Nosso compromisso vai além de simplesmente criar websites
          – desenvolvemos experiências digitais que conectam marcas ao seu
          público de forma eficiente e profissional. Com um time altamente
          qualificado e apaixonado por inovação, oferecemos soluções para
          pequenas, médias e grandes empresas, além de profissionais que
          precisam de landing pages impactantes para destacar seus serviços.
          Cada projeto é desenvolvido sob medida, garantindo um design
          exclusivo, navegação intuitiva e alto desempenho, sempre alinhado às
          melhores práticas do mercado.

          <br />
          Por que escolher a Whitepace? <br />
          ✅ Experiência comprovada – Mais de 8 anos ajudando negócios a
          crescerem online. <br />
          ✅ Design moderno e responsivo – Sites que se adaptam a qualquer
          dispositivo. <br />
          ✅ SEO otimizado – Maior visibilidade para sua marca nos mecanismos de
          busca. <br />
          ✅ Atendimento personalizado – Soluções sob medida para cada cliente.

          <br />
          Se você busca um site profissional, rápido e que realmente gere
          resultados, a Whitepace está pronta para transformar sua visão em
          realidade.
        </p>
        <a href="cotacto.html" class="btn animate-btn">Entrar em contato</a>
      </div>
      <div class="sobre-img">
        <img src="{% static '/global/img/sobre.jpg' %}" alt="Sobre" />
      </div>
    </div>
  </section>
</main>
<script src="js/main.js"></script>
{% endblock main %}
