{% extends "global/base.html" %}

{% block main %}

{% load static %}

            <section class="banner">
                <div class="banner-text">
                    <h1>Serviços</h1>
                </div>
            </section>
        </div>
    </header>
    <main>
        <section class="servicos">
            <div class="container">
                <h3>Nossos serviços</h3>
                <p>Conheça os nossos melhores serviços que temos para você!</p>
                <div class="rows-cards">
                    <div class="row-card-item">
                        <img src="{% static '/global/img/cloud.png' %}" alt="">
                        <p class="nome-servicos"><strong>Serviços em nuvem</strong></p>
                        <p class="descricao-servicos">
                            Soluções seguras e escaláveis para armazenar, gerenciar e otimizar seus dados, garantindo
                            desempenho e acessibilidade para sua empresa. Conte com infraestrutura confiável para manter
                            suas operações sempre ativas e protegidas. </p>
                    </div>
                    <div class="row-card-item">
                        <img src="{% static '/global/img/digital-marketing.png' %}" alt="">
                        <p class="nome-servicos"><strong>Marketing digital</strong></p>
                        <p class="descricao-servicos">
                            Estratégias inteligentes para fortalecer sua marca, atrair mais clientes e aumentar suas
                            conversões com campanhas eficazes nas redes sociais e Google Ads. Criamos planos
                            personalizados para impulsionar sua visibilidade e alcançar o público certo.
                        </p>
                    </div>
                    <div class="row-card-item">
                        <img src="{% static '/global/img/seo.png' %}" alt="">
                        <p class="nome-servicos"><strong>Seo</strong></p>
                        <p class="descricao-servicos">
                            Técnicas avançadas para melhorar o posicionamento do seu site no Google, garantindo mais
                            visibilidade e tráfego orgânico para o seu negócio. Aplicamos as melhores práticas para que
                            sua empresa se destaque na concorrência.
                        </p>
                    </div>
                    <div class="row-card-item">
                        <img src="{% static '/global/img/virtual_store.png' %}" alt="">
                        <p class="nome-servicos"><strong>Criação de lojas virtuas</strong></p>
                        <p class="descricao-servicos">
                            Desenvolvimento de e-commerces personalizados, responsivos e otimizados para vendas,
                            proporcionando uma experiência de compra fluida e eficiente. Integramos sistemas de
                            pagamento, segurança avançada e automação para maximizar suas vendas.
                        </p>
                    </div>
                    <div class="row-card-item">
                        <img src="{% static '/global/img/layer.png' %}" alt="">
                        <p class="nome-servicos"><strong>Identidade visual & design</strong></p>
                        <p class="descricao-servicos">
                            Construção de uma identidade visual forte e profissional, com logotipos, paletas de cores e
                            elementos gráficos que representam sua marca com autenticidade. Criamos designs únicos que
                            comunicam seus valores e geram reconhecimento imediato.
                        </p>
                    </div>
                    <div class="row-card-item">
                        <img src="{% static '/global/img/manager.png' %}" alt="">
                        <p class="nome-servicos"><strong>Criação de conteúdo</strong></p>
                        <p class="descricao-servicos">
                            Produção de textos, artigos, posts para redes sociais e materiais institucionais que engajam
                            seu público e fortalecem sua presença digital. Nossa equipe garante conteúdos relevantes e
                            de qualidade para aumentar a autoridade da sua marca.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="dados">
            <div class="container">
                <div class="dados-item">
                    <img src="{% static '/global/img/cloud.png' %}" alt="">
                    <p>
                        <strong>+360</strong> <br>
                        Projetos concluidos
                    </p>
                </div>
                <div class="dados-item">
                    <img src="{% static '/global/img/manager.png' %}" alt="">
                    <p>
                        <strong>+890</strong> <br>
                        Clientes satisfeitos
                    </p>
                </div>
                <div class="dados-item">
                    <img src="{% static '/global/img/trophy.png' %}" alt="">
                    <p>
                        <strong>+4303</strong> <br>
                        Jornada de trabalho
                    </p>
                </div>
                <div class="dados-item">
                    <img src="{% static '/global/img/writer.png' %}" alt="">
                    <p>
                        <strong>+254</strong> <br>
                        Publicidade paga
                    </p>
                </div>
            </div>
        </section>
    </main>
    
    <script src="js/main.js"></script>
    {% endblock main %}